html {
    height: 100%;
    touch-action: pan-x pan-y;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @apply antialiased flex justify-center items-center bg-slate-700 m-0 h-full font-sans transition-[box-shadow] duration-200;

    &.moving-left {
        //box-shadow: 84px -2px 53px -27px inset;
        @apply shadow-[200px_-2px_113px_-86px_inset] shadow-red-600/30;
    }

    &.moving-right {
        //box-shadow: 84px -2px 53px -27px inset;
        @apply shadow-[-200px_-2px_113px_-86px_inset] shadow-green-600/30;
    }
}

#root {
    display: contents;
}

.flex {
    > * {
        @apply min-w-0;
    }
}

.App {
    @apply w-full h-full flex flex-col max-w-4xl;

    min-height: -webkit-fill-available;

    .settings {
        section {
            @apply my-6;
            & + section {
                @apply border-t-2 border-t-zinc-600 pt-4;
            }

            & section {
                @apply my-3 pt-2;
            }
        }
    }
}

h1 {
    @apply text-2xl mb-3 font-semibold;
}

h2 {
    @apply text-xl mt-2 mb-2 font-semibold;
}

h3 {
    @apply text-lg mt-1 mb-1 font-semibold;
}

.btn {
    @apply px-4 py-2 rounded-md flex-center;
}

.btn-group {
    @apply px-2;

    .btn:active {
        @apply bg-black bg-opacity-20 my-1;
    }
}

button {
    @apply font-semibold;

    -webkit-tap-highlight-color: transparent;

    &.outline {
        @apply btn border-slate-600;
    }

    &.standard {
        @apply btn border border-slate-800 bg-slate-600;
    }

    &.text {
        @apply btn text-blue-100;
    }

    &.text-dark {
        @apply btn text-blue-300;
    }

    &:hover {
        @apply bg-blend-darken;
    }

    &:active {
        @apply bg-blend-darken;
    }

    &[disabled] {
        @apply opacity-20;
    }
}

.slider {
    @apply w-full py-2 flex space-x-2 pr-2;

    input[type='range'] {
        @apply m-0 w-full;
    }
}

.checkboxes {
    @apply h-auto w-full outline-none flex flex-col;

    label {
        input {
            @apply mr-2;
        }
        & + label {
            @apply pt-2;
        }
    }
}

.flex-center {
    @apply flex justify-center items-center;
}

.text-primary {
    @apply text-blue-200;
}

code {
    @apply font-mono;
}

svg {
    @apply pointer-events-none;
}

main.deck {
    @apply flex-grow flex flex-col overflow-hidden;

    .stack {
        @apply flex-grow flex relative;
        .card {
            @apply absolute bottom-1 top-3 inset-x-4 cursor-grab rounded-lg overflow-hidden will-change-transform opacity-80;
            transition: all 0.2s ease-in-out;

            &[data-moving] {
                @apply cursor-grabbing transition-none;
            }

            .content {
                @apply relative inset-0 rounded-lg h-full w-full pointer-events-none shadow-lg shadow-black/10;

                .front,
                .back {
                    @apply contents overflow-hidden flex-center text-center p-4 border-slate-200 border-solid border absolute inset-0 rounded-lg bg-slate-200 text-slate-700;
                    backface-visibility: hidden;
                }

                .back {
                    @apply text-slate-800 bg-slate-300 border-slate-700;
                    transform: rotateY(180deg);
                }
            }

            .content {
                transition: transform 1s;
                transform-style: preserve-3d;
            }

            &.flip {
                .content {
                    transform: rotateY(180deg);
                    transition: transform 0.5s;
                }
            }
        }
    }
}

.modal {
    @apply contents;

    .overlay {
        @apply bg-opacity-70 bg-black fixed inset-0 z-[100000] pt-14 max-w-full;

        .dialog {
            @apply max-h-full flex-grow rounded-md bg-slate-700 text-slate-200 max-w-4xl overflow-hidden mb-12 mx-4;

            .body {
                @apply flex-grow p-4 overflow-auto;

                .description {
                    @apply text-slate-400;
                }
            }

            .footer {
                @apply btn-group h-14 flex-grow-0 flex-shrink-0 bg-slate-600;
            }
        }
    }
}
