html {
    height: 100%;
    touch-action: pan-x pan-y;
    height: 100%;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @apply antialiased flex justify-center items-center bg-slate-700 m-0 h-full font-sans transition-[box-shadow] duration-200 overflow-hidden;

    &.moving-left {
        //box-shadow: 84px -2px 53px -27px inset;
        @apply shadow-[300px_-2px_113px_-86px_inset] shadow-red-600/30;
    }

    &.moving-right {
        //box-shadow: 84px -2px 53px -27px inset;
        @apply shadow-[-300px_-2px_113px_-86px_inset] shadow-green-600/30;
    }
}

#root {
    display: contents;
}

.flex {
    > * {
        @apply min-w-0;
    }
}

h1 {
    @apply text-2xl mb-3 font-semibold;
}

h2 {
    @apply text-xl mt-2 mb-2 font-semibold;
}

h3 {
    @apply text-lg mt-1 mb-1 font-semibold;
}

.btn {
    @apply px-4 py-2 rounded-md flex-center;
}

.btn-group {
    @apply px-2;

    .btn:active {
        @apply bg-black bg-opacity-20 my-1;
    }
}

button {
    @apply font-semibold;
    text-shadow: inherit;

    -webkit-tap-highlight-color: transparent;

    &.outline {
        @apply btn border-slate-600;
    }

    &.standard {
        @apply btn border border-slate-800 bg-slate-600;
    }

    &.text {
        @apply btn text-blue-100;
    }

    &.text-dark {
        @apply btn text-blue-300;
    }

    &:hover {
        @apply bg-blend-darken;
    }

    &:active {
        @apply bg-blend-darken;
    }

    &[disabled] {
        @apply opacity-20;
    }
}

.slider {
    @apply w-full py-2 flex space-x-2 pr-2;

    input[type='range'] {
        @apply m-0 w-full;
    }
}

.checkboxes {
    @apply h-auto w-full outline-none flex flex-col;

    label {
        input {
            @apply mr-2;
        }
        & + label {
            @apply pt-2;
        }
    }
}

.flex-center {
    @apply flex justify-center items-center;
}

.text-primary {
    @apply text-blue-200;
}

code {
    @apply font-mono;
}

svg {
    @apply pointer-events-none;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.37));
}

.modal {
    @apply contents;

    .overlay {
        @apply bg-opacity-70 bg-black fixed inset-0 z-[100000] pt-14 max-w-full;

        .dialog {
            @apply max-h-full flex-grow rounded-md bg-slate-700 text-slate-200 max-w-4xl overflow-hidden mb-12 mx-auto;

            &.full {
                @apply max-w-full mx-4 lg:mx-10;
            }

            .body {
                @apply flex-grow p-4 overflow-auto;

                .description {
                    @apply text-slate-400;
                }
            }

            .footer {
                @apply btn-group h-14 flex-grow-0 flex-shrink-0 bg-slate-600;
            }
        }
    }
}

.deck-info {
    @apply text-blue-100 opacity-70;
    > span {
        @apply comma-separated;
    }
}

.App {
    @apply overflow-hidden;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);

    > header {
        @apply flex-nowrap h-12 p-2 pb-0 max-w-full overflow-hidden justify-between relative z-[100000];

        min-width: 0;
    }

    .settings {
        section {
            @apply mb-6;

            & + section {
                @apply mt-6;
                @apply border-t-2 border-t-zinc-100/10 pt-4;
            }
            & section {
                @apply my-3 pt-2;
            }
        }
    }
}

main.deck {
    @apply flex-grow flex flex-col;

    .stack {
        @apply flex-grow flex relative;

        .card {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);

            @apply absolute bottom-1 top-3 inset-x-4 cursor-grab rounded-lg overflow-hidden will-change-transform opacity-80;
            transition: all 0.2s ease-in-out;

            &[data-moving] {
                @apply cursor-grabbing transition-none;
            }

            .content {
                @apply relative inset-0 rounded-lg h-full w-full pointer-events-none shadow-lg shadow-black/10;

                .front,
                .back {
                    @apply contents overflow-hidden flex-center text-center p-4 border-slate-200 border-solid border absolute inset-0 rounded-lg bg-slate-200 text-slate-700;
                    backface-visibility: hidden;
                }

                .back {
                    @apply text-slate-800 bg-slate-300 border-slate-700;
                    transform: rotateY(180deg);
                }
            }

            .content {
                transition: transform 1s;
                transform-style: preserve-3d;
            }

            .progress {
                @apply absolute right-1 left-1 bottom-1 px-4 rounded-lg overflow-hidden;

                div {
                    @apply w-full bg-white bg-opacity-25 rounded-lg;

                    div {
                        @apply h-2 bg-green-400 rounded-lg;
                    }
                }
            }
            &.flip {
                .content {
                    transform: rotateY(180deg);
                    transition: transform 0.5s;
                }
            }
        }
    }

    > nav {
        @apply mt-1 h-16 p-2;

        &.disabled {
            @apply opacity-0 pointer-events-none;
        }

        button {
            @apply rounded-full p-1 overflow-hidden active:bg-white active:bg-opacity-25;

            svg {
                @apply h-full w-auto;
            }
        }
    }
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.comma-separated {
    > span + span::before {
        content: ', ';
    }
}

.select {
    @apply flex-center relative pl-3 pr-3 bg-slate-500 h-10 rounded-md justify-between border border-slate-900;

    cursor: pointer;
    line-height: 1.1;

    .selected {
        @apply flex-grow overflow-hidden text-ellipsis whitespace-nowrap text-left comma-separated;
    }

    .placeholder {
        @apply text-slate-400;
    }

    // Custom arrow
    .arrow {
        @apply bg-slate-400 w-3 h-2 block flex-shrink-0;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }

    &.disabled {
        cursor: not-allowed;
        background-color: #eee;
        background-image: linear-gradient(to top, #ddd, #eee 33%);
    }
}

.modal.select-popup {
    .overlay {
        @apply pt-20;
        justify-content: flex-start;
    }

    .dialog {
        @apply flex-grow-0;

        .body {
            @apply p-0 overflow-hidden;

            .option {
                @apply text-left py-3 px-4 flex justify-between rounded-none font-normal whitespace-nowrap;

                &.all {
                    @apply font-bold;
                }

                &.checked {
                    @apply bg-slate-800;
                }

                svg {
                    @apply mr-4 fill-slate-300 w-4;
                }

                & + .option {
                    @apply border-t border-slate-500;
                }
            }

            .top {
                @apply flex-shrink-0 flex flex-col bg-slate-700 border-b border-slate-500;

                .selected {
                    display: none;
                }
            }

            .options {
                @apply flex-grow flex flex-col overflow-auto;
            }
        }
    }
}
